<!-- Barra lateral -->
<nav class="sidebar" [class.open]="isSidebarOpen">
  <img [src]="'assets/logoinfocon.ico'"
       alt="Logo"
       class="logo"
       [ngClass]="{'small-logo': !isSidebarOpen}" />
  <hr>

  <a [routerLink]="'/invoices'" title="Lista de Facturas">
    <i class="fas fa-file-invoice"></i>
    <span *ngIf="isSidebarOpen">Facturas</span>
  </a>
  <a [routerLink]="'/dashboard'" title="Resumen">
    <i class="fas fa-chart-line"></i>
    <span *ngIf="isSidebarOpen">Resumen</span>
  </a>
  <a [routerLink]="'/clientes'" title="Clientes">
    <i class="fas fa-users"></i>
    <span *ngIf="isSidebarOpen">Clientes</span>
  </a>

<!-- Buscador de codter: solo aparece si showSearch es true -->
<div class="search-container" *ngIf="showSearch && isSidebarOpen">
  <input type="text"
         placeholder="Buscar codter..."
         [(ngModel)]="searchCodter"
         (input)="onSearchCodter()"
          (keydown.enter)="onCodterSelected(searchCodter)"
         class="codter-search">
  <div class="autocomplete-dropdown" style="padding: 10px;width: 37px;cursor: pointer;" *ngIf="filteredCodters.length > 0 && searchCodter">
    <div *ngFor="let codter of filteredCodters"
         (click)="onCodterSelected(codter)"
         class="autocomplete-item">
      {{codter}}
    </div>
  </div>
</div>

  <button class="toggle-btn" (click)="toggleSidebar()">
    <i class="fas" [ngClass]="isSidebarOpen ? 'fa-chevron-left' : 'fa-chevron-right'"></i>
  </button>
</nav>

<!-- Contenido principal -->
<main>
  <router-outlet></router-outlet>
</main>
