<!-- Barra superior -->
<nav class="topbar" [class.open]="isSidebarOpen">
  <div class="texto-container">
    <a href="#"><i class="fa-solid fa-user"></i> Iniciar sesion</a>
    <a href="#"><i class="fas fa-cog"></i> Configuración</a>
    <a href="#"><i class="fas fa-sign-out-alt"></i> Salir</a>
  </div>
</nav>

<!-- Barra lateral -->
<nav class="sidebar" [class.open]="isSidebarOpen">
  <img [src]="'assets/logoinfocon.ico'"
       alt="Logo"
       class="logo"
       [ngClass]="{'small-logo': !isSidebarOpen}" />
       <hr>

  <!-- <h2 class="h2-menu">FACTURAS</h2> -->
  <a [routerLink]="'/invoices'" title="Lista de Facturas">
    <i class="fas fa-file-invoice"></i>
    <span *ngIf="isSidebarOpen">Facturas</span>
  </a>
  <a [routerLink]="'/dashboard'" title="Resumen">
    <i class="fas fa-chart-line"></i>
    <span *ngIf="isSidebarOpen">Resumen</span>
  </a>
  <a [routerLink]="'/clientes'" title="Clientes">
    <i class="fas fa-users"></i>
    <span *ngIf="isSidebarOpen">Clientes</span>
  </a>

  <button class="toggle-btn" (click)="toggleSidebar()">
    <i class="fas" [ngClass]="isSidebarOpen ? 'fa-chevron-left' : 'fa-chevron-right'"></i>
  </button>
</nav>

<!-- Contenido principal -->
<main>
  <router-outlet></router-outlet>
</main>

