<nav>
  <a [routerLink]="'/invoices'" title="Lista de Facturas">
    <i class="fas fa-file-invoice"></i>
    <span>Facturas</span>
  </a>
  <a [routerLink]="'/create-invoice'" title="Crear Factura">
    <i class="fas fa-plus-circle"></i>
    <span>Crear</span>
  </a>
  <a [routerLink]="'/dashboard'" title="Resumen">
    <i class="fas fa-chart-line"></i>
    <span>Resumen</span>
  </a>
  <a [routerLink]="'/clients'" title="Clientes">
    <i class="fas fa-users"></i>
    <span>Clientes</span>
  </a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
