

<div class="info-card" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <h3>Total Facturas</h3>
  <p>{{ totalImporteFacturas | number:'1.2-2' }} €</p>
  <span class="percentage" [ngClass]="{'positive': getPercentageDifference() >= 0, 'negative': getPercentageDifference() < 0}">
    {{ getPercentageDifference() >= 0 ? '+' : '' }}{{ getPercentageDifference() | number:'1.2-2' }}% vs {{ selectedYearComparison }}
  </span>
</div>
<div class="year-selector-container" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="year-selector primary">
    <label for="yearSelectPrimary">Año principal: </label>
    <select id="yearSelectPrimary" [(ngModel)]="selectedYear" (change)="onYearChange()">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>
  <div class="year-selector comparison">
    <label for="yearSelectComparison">Año comparación: </label>
    <select id="yearSelectComparison" [(ngModel)]="selectedYearComparison" (change)="onComparisonYearChange()">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>
</div>

<div class="chart-container" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="pie">
    <canvas baseChart [data]="chartDataPie" [options]="chartOptionsPie" [type]="'pie'"></canvas>
    <!-- <p class="total-facturas">Total Facturas: {{ totalImporteFacturas | number:'1.2-2' }} €</p> -->
  </div>
  <div class="bar">
    <canvas baseChart [data]="chartDataBar" [options]="chartOptionsBar" [type]="'bar'"></canvas>
  </div>
  <div class="line">
    <canvas baseChart [data]="chartDataLine" [options]="chartOptionsLine" [type]="'line'"></canvas>
  </div>

</div>

<button (click)="generatePDF()" class="pdf-button"[ngClass]="{'sidebar-open': isSidebarOpen}">
  <i class="fa-solid fa-download"></i> Descargar PDF</button>
