<div class="year-selector-container" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="year-selector comparison">
    <label>
      <span (click)="toggleCheckboxes()" class="toggle-label"> Comparar </span> años anteriores (máx. 5):
    </label>
    <div class="checkbox-container" [hidden]="!showCheckboxes" [ngClass]="{'visible': showCheckboxes}">
      <div *ngFor="let year of years" class="checkbox-item">
        <input type="checkbox"
               [id]="'year-' + year"
               [value]="year"
               [checked]="selectedComparisonYears.includes(year)"
               (change)="onCheckboxChange(year, $event)"
               [disabled]="selectedComparisonYears.length >= 5 && !selectedComparisonYears.includes(year)">
        <label [for]="'year-' + year">{{ year }}</label>
      </div>
    </div>
  </div>
</div>

<div class="info-card" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="card-container">
    <!-- Vista inicial (sin checkboxes activados) -->
    <ng-container *ngIf="!showCheckboxes">
      <!-- Año actual (2025) -->
      <div class="card-item-actual" [ngClass]="{ 'visible': !showCheckboxes }">
        <h3>Total Facturas <span style="color: #1189a7;">{{selectedYear}}</span></h3>
        <p style="color: #1189a7; text-align: left;">{{ totalImporteFacturas | number:'1.2-2' }} €</p>
      </div>

      <!-- Año anterior fijo (2024) -->
      <div class="card-item" [ngClass]="{ 'visible': !showCheckboxes }">
        <h3>Total Facturas <span style="color: #ff5733;">{{defaultComparisonYear}}</span></h3>
        <p style="color: #ff5733;">{{ comparisonTotals[defaultComparisonYear] | number:'1.2-2' }} €</p>
        <span class="percentage" [ngClass]="{'positive': getPercentageDifference(defaultComparisonYear) >= 0, 'negative': getPercentageDifference(defaultComparisonYear) < 0}">
          {{ getPercentageDifference(defaultComparisonYear) >= 0 ? '+' : '' }}{{ getPercentageDifference(defaultComparisonYear) | number:'1.2-2' }}% vs {{selectedYear}}
        </span>
      </div>
    </ng-container>

    <!-- Vista con checkboxes activados -->
    <ng-container *ngIf="showCheckboxes">
      <div style="display: flex; gap: 174px;">
        <div *ngFor="let year of sortedComparisonYears; let i = index" class="card-item-comparativa">
          <h3><span [style.color]="['#1189a7', '#ff5733', '#8BC34A', '#FFCE56', '#9966FF'][i % 5]">{{year}}</span></h3>
          <p [style.color]="['#1189a7', '#ff5733', '#8BC34A', '#FFCE56', '#9966FF'][i % 5]">{{ comparisonTotals[year] | number:'1.2-2' }} €</p>
          <span class="percentage" [ngClass]="{'positive': getPercentageDifference(year) >= 0, 'negative': getPercentageDifference(year) < 0}" *ngIf="year !== mostRecentYear">
            {{ getPercentageDifference(year) >= 0 ? '+' : '' }}{{ getPercentageDifference(year) | number:'1.2-2' }}% vs {{mostRecentYear}}
          </span>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="chart-container" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="pie-container">
    <div class="pie">
      <canvas baseChart [data]="chartDataPie" [options]="chartOptionsPie" [type]="'pie'"></canvas>
    </div>
  </div>
  <div class="chart-toggle-container">
    <div class="chart-content">
      <canvas baseChart
              [data]="chartDataGeneral"
              [options]="isLineChart ? chartOptionsLine : chartOptionsBar"
              [type]="isLineChart ? 'line' : 'bar'">
      </canvas>
    </div>
    <button (click)="toggleChartType()" class="toggle-chart-button">
      Cambiar a {{ isLineChart ? 'Barras' : 'Líneas' }}
    </button>
  </div>
</div>

<button (click)="generatePDF()" class="pdf-button" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <i class="fa-solid fa-download"></i> Descargar PDF
</button>
