<div class="year-selector-container" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="year-selector comparison">
    <label>
      <span (click)="toggleCheckboxes()" class="toggle-label"> Comparar </span> años anteriores (máx. 5):
    </label>
    <div class="checkbox-container" [ngClass]="{'visible': showCheckboxes && selectedComparisonYears.length > 0}" [hidden]="!showCheckboxes || selectedComparisonYears.length === 0">
      <div *ngFor="let year of years" class="checkbox-item">
        <input type="checkbox"
               [id]="'year-' + year"
               [value]="year"
               [checked]="selectedComparisonYears.includes(year)"
               (change)="onCheckboxChange(year, $event)"
               [disabled]="selectedComparisonYears.length >= 5 && !selectedComparisonYears.includes(year)">
        <label [for]="'year-' + year">{{ year }}</label>
      </div>
    </div>
  </div>
</div>

<div class="info-card" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="card-container">
    <!-- Vista inicial (sin checkboxes activados o sin años seleccionados) -->
    <ng-container *ngIf="!showCheckboxes || selectedComparisonYears.length === 0">
      <!-- Año actual (2025) -->
      <div class="card-item-actual" [ngClass]="{ 'visible': !showCheckboxes || selectedComparisonYears.length === 0 }">
        <h3>Total Facturas
          <span style="color: #1189a7;">
            <ng-container *ngIf="!selectedYear || selectedYear <= 0; else yearTemplate">
              <i class="fa fa-spinner fa-spin" style="margin-left: 5px;"></i>
            </ng-container>
            <ng-template #yearTemplate>
              {{selectedYear}}
            </ng-template>
          </span>
        </h3>
        <p style="color: #1189a7; text-align: left;">
          {{ (isLoading || totalImporteFacturas == null || totalImporteFacturas === 0) ? 'Cargando datos...' : (totalImporteFacturas | number:'1.2-2') + ' €' }}
          <i *ngIf="isLoading || totalImporteFacturas == null || totalImporteFacturas === 0" class="fa fa-spinner fa-spin" style="margin-left: 5px;"></i>
        </p>
      </div>

      <!-- Año anterior fijo (2024) -->
      <div class="card-item" [ngClass]="{ 'visible': !showCheckboxes || selectedComparisonYears.length === 0 }">
        <h3>Total Facturas
          <span style="color: #ff5733;">
            <ng-container *ngIf="!defaultComparisonYear || defaultComparisonYear <= 0; else TemplateAnterior">
              <i class="fa fa-spinner fa-spin" style="margin-left: 5px;"></i>
            </ng-container>
            <ng-template #TemplateAnterior>
              {{defaultComparisonYear}}
            </ng-template>
          </span>
        </h3>
        <p style="color: #ff5733;">
          {{ (isLoading || comparisonTotals[defaultComparisonYear] == null || comparisonTotals[defaultComparisonYear] === 0) ? 'Cargando datos...' : (comparisonTotals[defaultComparisonYear] | number:'1.2-2') + ' €' }}
          <i *ngIf="isLoading || comparisonTotals[defaultComparisonYear] == null || comparisonTotals[defaultComparisonYear] === 0" class="fa fa-circle-notch fa-spin" style="margin-left: 5px;"></i>
        </p>
        <span class="percentage" [ngClass]="{'positive': getPercentageDifference(defaultComparisonYear) >= 0, 'negative': getPercentageDifference(defaultComparisonYear) < 0}">
          {{ getPercentageDifference(defaultComparisonYear) >= 0 ? '+' : '' }}{{ getPercentageDifference(defaultComparisonYear) | number:'1.2-2' }}% vs {{selectedYear}}
        </span>
      </div>
    </ng-container>

    <!-- Vista con checkboxes activados y años seleccionados -->
    <ng-container *ngIf="showCheckboxes && selectedComparisonYears.length > 0">
      <div style="display: flex; gap: 162px;">
        <div *ngFor="let year of sortedComparisonYears; let i = index" class="card-item-comparativa">
          <h3>
            <span *ngIf="year === mostRecentYear" style="font-size: 0.8em; color: #089add;">Actual </span>
            <span [style.color]="['#1189a7', '#ff5733', '#8BC34A', '#FFCE56', '#9966FF'][i % 5]">{{ year }}</span>
          </h3>
          <p [style.color]="['#1189a7', '#ff5733', '#8BC34A', '#FFCE56', '#9966FF'][i % 5]">
            {{ (isLoading || comparisonTotals[year] == null || comparisonTotals[year] === 0) ? 'Cargando datos...' : (comparisonTotals[year] | number:'1.2-2') + ' €' }}
            <i *ngIf="isLoading || comparisonTotals[year] == null || comparisonTotals[year] === 0" class="fa fa-spinner fa-spin" style="margin-left: 5px;"></i>
          </p>
          <span class="difference" style="margin-top: 10px;" [ngClass]="{'positive': getAmountDifference(year) >= 0, 'negative': getAmountDifference(year) < 0}" *ngIf="year !== mostRecentYear">
            {{ getAmountDifference(year) >= 0 ? '+' : '' }}{{ getAmountDifference(year) | number:'1.2-2' }} € vs {{mostRecentYear}}
          </span>
          <span class="percentage" [ngClass]="{'positive': getPercentageDifference(year) >= 0, 'negative': getPercentageDifference(year) < 0}" *ngIf="year !== mostRecentYear">
            {{ getPercentageDifference(year) >= 0 ? '+' : '' }}{{ getPercentageDifference(year) | number:'1.2-2' }}%
          </span>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="chart-container" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="pie-container">
    <div class="pie">
      <canvas baseChart [data]="chartDataPie" [options]="chartOptionsPie" [type]="'pie'"></canvas>
    </div>
  </div>
  <div class="chart-toggle-container">
    <div class="chart-content">
      <canvas baseChart
              [data]="chartDataGeneral"
              [options]="isLineChart ? chartOptionsLine : chartOptionsBar"
              [type]="isLineChart ? 'line' : 'bar'">
      </canvas>
    </div>
    <button (click)="toggleChartType()" class="toggle-chart-button">
      Cambiar a {{ isLineChart ? 'Barras' : 'Líneas' }}
    </button>
  </div>
</div>

<button (click)="generatePDF()" class="pdf-button" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <i class="fa-solid fa-download"></i> Descargar PDF
</button>
