<div class="year-selector-container" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="year-selector comparison">
    <label>
      <span (click)="toggleCheckboxes()" class="toggle-label">Comparar</span> años anteriores (máx. 4):
    </label>
    <div class="checkbox-container" [hidden]="!showCheckboxes" [ngClass]="{'visible': showCheckboxes}">
      <div *ngFor="let year of years" class="checkbox-item">
        <input type="checkbox"
               [id]="'year-' + year"
               [value]="year"
               [checked]="selectedComparisonYears.includes(year)"
               (change)="onCheckboxChange(year, $event)"
               [disabled]="selectedComparisonYears.length >= 5 && !selectedComparisonYears.includes(year)">
        <label [for]="'year-' + year">{{ year }}</label>
      </div>
    </div>
  </div>
</div>

<div class="info-card" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="card-container">
    <!-- Año actual (2025) -->
    <div class="card-item-actual">
      <h3>Total Facturas <span style="color: #1189a7;">{{selectedYear}}</span></h3>
      <p style="color: #1189a7; text-align: left;">{{ totalImporteFacturas | number:'1.2-2' }} €</p>
    </div>
    <!-- Año anterior fijo (2024) -->
    <div class="card-item">
      <h3><span style="color: #ff5733;">{{defaultComparisonYear}}</span></h3>
      <p style="color: #ff5733;">{{ comparisonTotals[defaultComparisonYear] | number:'1.2-2' }} €</p>
      <span class="percentage" [ngClass]="{'positive': getPercentageDifference(defaultComparisonYear) >= 0, 'negative': getPercentageDifference(defaultComparisonYear) < 0}">
        {{ getPercentageDifference(defaultComparisonYear) >= 0 ? '+' : '' }}{{ getPercentageDifference(defaultComparisonYear) | number:'1.2-2' }}% vs {{selectedYear}}
      </span>
    </div>
    <!-- Años de comparación adicionales -->
    <div style="display: flex; gap:45px" *ngIf="showCheckboxes">
      <div *ngFor="let year of selectedComparisonYears; let i = index" class="card-item">
        <h3><span [style.color]="['#FFCE56', '#a887ed', '#635b5b','#a7db6b', '#11adc2'][i % 5]">{{year}}</span></h3>
        <p [style.color]="['#FFCE56', '#a887ed', '#635b5b', '#a7db6b', '#11adc2'][i % 5]">{{ comparisonTotals[year] | number:'1.2-2' }} €</p>
        <span class="percentage" [ngClass]="{'positive': getPercentageDifference(year) >= 0, 'negative': getPercentageDifference(year) < 0}">
          {{ getPercentageDifference(year) >= 0 ? '+' : '' }}{{ getPercentageDifference(year) | number:'1.2-2' }}% vs {{selectedYear}}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="chart-container" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="pie-container">
    <div class="pie">
      <canvas baseChart [data]="chartDataPie" [options]="chartOptionsPie" [type]="'pie'"></canvas>
    </div>
  </div>
  <div class="chart-toggle-container">
    <div class="chart-content">
      <canvas baseChart
              [data]="chartDataGeneral"
              [options]="isLineChart ? chartOptionsLine : chartOptionsBar"
              [type]="isLineChart ? 'line' : 'bar'">
      </canvas>
    </div>
    <button (click)="toggleChartType()" class="toggle-chart-button">
      Cambiar a {{ isLineChart ? 'Barras' : 'Líneas' }}
    </button>
  </div>
</div>

<button (click)="generatePDF()" class="pdf-button" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <i class="fa-solid fa-download"></i> Descargar PDF
</button>
